# Byte-compiled / optimized files
__pycache__/
*.pyc

# Virtual environment directories
.venv/
.env/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
*.log
.pytest_cache/
Fonts/*.pkl

# Frontend
frontend/node_modules/
frontend/dist/
complaints.json
